Source: jchroot
Section: admin
Priority: optional
Maintainer: Andras Korn <korn-deb@elan.rulez.org>
Build-Depends: debhelper (>= 5), devscripts
Standards-Version: 3.8.4
Homepage: https://github.com/vincentbernat/jchroot

Package: jchroot
Architecture: any
Depends: libc6
Description: jchroot: a chroot with more isolation
 Recent Linux kernels are now able to provide a new PID namespace to a newly
 created process. The process becomes PID 1 in its own namespace and all
 processes created in this namespace will be killed when the first process
 terminates. This allows to reliably kill any process started by the first
 process, even when they double fork. It also ensures a better isolation.
 .
 The same applies for mount points and IPC. If you combine those three
 namespaces with a standard chroot, you get a chroot on steroids. You can
 launch any (non malicious) process in this chroot, it won't interfere with
 your main system and everybody will be killed when you exit the shell. Any
 filesystem that was mounted will also be unmounted automatically.
 .
 This is what jchroot does:
 .
 1. Setup user/group mappings.
 2. provide a new PID/IPC/mount/UTS namespace
 3. mount anything you want
 4. set hostname if needed
 5. chroot to your target
 6. drop privileges if needed
 7. execute your command
 .
 After your command has been executed, any process started by the execution
 of this command will be killed, any IPC will be freed, any mount point will
 be unmounted. All clean!
