Source: jchroot
Maintainer: Vincent Bernat <bernat@debian.org>
Priority: optional
Section: admin
Build-Depends: debhelper (>= 9)

Package: jchroot
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: chroot with more isolation
 jchroot uses namespaces to run commands with better isolation than
 with chroot. This is what jchroot does:
 .
  0. Setup user/group mappings.
  1. provide a new PID/IPC/mount/UTS namespace
  2. mount anything you want
  3. set hostname if needed
  4. chroot to your target
  5. drop privileges if needed
  6. execute your command
 .
 After your command has been executed, any process started by the
 execution of this command will be killed, any IPC will be freed, any
 mount point will be unmounted. All clean!
